name: Test suite

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

jobs:
  test_suite:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Downloading criterion package
        run: sudo wget https://github.com/Snaipe/Criterion/releases/download/v2.3.3/criterion-v2.3.3-linux-x86_64.tar.bz2 -O /tmp/criterion.tar.bz2

      - name: Initializing tmp directory
        run: sudo mkdir -p /tmp/criterion
        
      - name: Extracting criterion package
        run: sudo tar -xjf /tmp/criterion.tar.bz2 -C /tmp/criterion

      - name: Installing criterion package
        run: sudo cp -r /tmp/criterion/criterion-v2.3.3/share/* /usr/local/share &&
          sudo cp -r /tmp/criterion/criterion-v2.3.3/lib/* /usr/local/lib &&
          sudo cp -r /tmp/criterion/criterion-v2.3.3/lib/* /usr/lib &&
          sudo cp -r /tmp/criterion/criterion-v2.3.3/include/* /usr/local/include

      - name: Installing openssl libraries
        run:
          sudo apt-get install libssl-dev

      - name: make check
        run: make check
